<%= form_for(@appraisal_model) do |f| %>
  <% if @appraisal_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appraisal_model.errors.count, "error") %> prohibited this appraisal_model from being saved:</h2>

      <ul>
      <% @appraisal_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
