<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chat.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @chat.date %>
</p>

<p>
  <strong>Talk:</strong>
  <%= @chat.talk.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @chat.school.name %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
