<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appraisal_field_type.name %>
</p>

<p>
  <strong>Html:</strong>
  <%= @appraisal_field_type.html %>
</p>

<%= link_to 'Edit', edit_appraisal_field_type_path(@appraisal_field_type) %> |
<%= link_to 'Back', appraisal_field_types_path %>
